## 2. Encoding Categorical Variables in a Car Evaluation Dataset
   - Task:  Encode categorical variables in the Car Evaluation dataset using one-hot encoding and label encoding. Compare the results.
   - Dataset: Car Evaluation Dataset

## Loading Data

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('/kaggle/input/car-evaluation-data-set/car_evaluation.csv')
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [3]:
df.shape

(1727, 7)

In [4]:
df.isnull().sum()

vhigh      0
vhigh.1    0
2          0
2.1        0
small      0
low        0
unacc      0
dtype: int64

## One Hot Encoding

In [5]:
OHE = pd.get_dummies(df,drop_first=True)

In [6]:
OHE.head()

,vhigh_low,vhigh_med,vhigh_vhigh,vhigh.1_low,vhigh.1_med,vhigh.1_vhigh,2_3,2_4,2_5more,2.1_4,2.1_more,small_med,small_small,low_low,low_med,unacc_good,unacc_unacc,unacc_vgood
0,False,False,True,False,False,True,False,False,False,False,False,False,True,False,True,False,True,False
1,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False
2,False,False,True,False,False,True,False,False,False,False,False,True,False,True,False,False,True,False
3,False,False,True,False,False,True,False,False,False,False,False,True,False,False,True,False,True,False
4,False,False,True,False,False,True,False,False,False,False,False,True,False,False,False,False,True,False

## Label Encoding

In [7]:
# Initialize the label encoder
le = LabelEncoder()

label_encoded = df.copy()

# Apply label encoding to each categorical column
for column in label_encoded.columns:
    label_encoded[column] = le.fit_transform(label_encoded[column].astype(str))

label_encoded.head()

   vhigh  vhigh.1  2  2.1  small  low  unacc
0      3        3  0    0      2    2      2
1      3        3  0    0      2    0      2
2      3        3  0    0      1    1      2
3      3        3  0    0      1    2      2
4      3        3  0    0      1    0      2

## Comparision

In [8]:
# Compare the shapes of the datasets
print("Original dataset shape:", df.shape)
print("One-hot encoded dataset shape:", OHE.shape)
print("Label encoded dataset shape:", label_encoded.shape)

# Display some of the one-hot encoded columns
print("\nOne-hot encoded columns:\n", OHE.head())

# Display some of the label encoded columns
print("\nLabel encoded columns:\n", label_encoded.head())

Original dataset shape: (1727, 7)
One-hot encoded dataset shape: (1727, 18)
Label encoded dataset shape: (1727, 7)

One-hot encoded columns:
    vhigh_low  vhigh_med  vhigh_vhigh  vhigh.1_low  vhigh.1_med  vhigh.1_vhigh  \
0      False      False         True        False        False           True
1      False      False         True        False        False           True
2      False      False         True        False        False           True
3      False      False         True        False        False           True
4      False      False         True        False        False           True

     2_3    2_4  2_5more  2.1_4  2.1_more  small_med  small_small  low_low  \
0  False  False    False  False     False      False         True    False
1  False  False    False  False     False      False         True    False
2  False  False    False  False     False       True        False     True
3  False  False    False  False     False       True        False    False
4  False  False    False  False     False       True        False    False

   low_med  unacc_good  unacc_unacc  unacc_vgood
0     True       False         True        False
1    False       False         True        False
2    False       False         True        False
3     True       False         True        False
4    False       False         True        False

Label encoded columns:
    vhigh  vhigh.1  2  2.1  small  low  unacc
0      3        3  0    0      2    2      2
1      3        3  0    0      2    0      2
2      3        3  0    0      1    1      2
3      3        3  0    0      1    2      2
4      3        3  0    0      1    0      2